.container{
    height: 10vw;
    background-color:  rgba(186, 179, 179, 0.45);
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
}
.close {
    background-color: transparent;
    height: 20px;
    border: transparent;
    font-size: 20px;
    margin-right: 10%;
    margin-top: 1%;
}

.main {
    padding-top: 3%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main {
    max-width: 15vw;
    min-width: 15vw;
    text-align: left;
}
.country {
    padding-top: -5%;
    margin-top: -10%;
    max-width: 8vw;
}
.temp{
   font-size: 3.5vw;
   margin-top: -1%;
}

.forecast {
    display: inline-flex;
    margin-left: 10%;
}
.condition {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.condition img {
    height: 9vw;
    width: 9vw;
}
.condition p {
    margin-top: -10%;
}